.container {
    height: 300px;
    width: 600px;
    background-color: yellow;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    /* row-gap: 10px; */
    /* column-gap: 20px; */
    /* grid-gap: 20px 30px; */
    grid-gap: 10px;
    /* justify-items: start;
    justify-items: end; */
    /* justify-items: center; */
    /* align-items: end; */
    /* align-items: center; */
    place-items: center;
}

.item {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;

}
.one{
    justify-self: end;
}
/* .one{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column: 1/4;
    grid-column: 1/span 3;
} */