#box{
        height: 400px;
        width: 400px;
        background-color: black;
    }
#circle{
    height: 200px;
    width: 200px;
    background-color: #ffa511;
    border-radius: 50%;
    position: relative;
    top: 100px;
    left: 100px;

}
#left-eye,
#right-eye{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: black;
    position: absolute;
    top: 50px;
    left: 50px;

}
#right-eye{
    left: 125px;
}
#mouth{
    height: 40px;
    width: 100px;
    background-color: red;
    position: absolute;
    top: 120px;
    left: 50px;
    border-radius: 0px 0px 30px 30px ;
}